.login-container {
    display: flex;
}

.rigth-side-image { 
    width: 56%;
    height: 100vh;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #54236d;
    width: 44%;
    color: white;
    gap: 60px;
}

.login-section h1 {
    color: lightgreen;
    font-size: 2rem;
}

.login-section h2 .app-name {
    color: lightgreen;
}

.login-section button {
    padding: 5px 7px;
    font-size: 1.1rem;
    background-color: blue;
    color: white;
    font-weight: bold;
    border: 1px solid;
    border-radius: 10px;
}

.login-section button:hover {
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}